@layer reset {
  *, *::before, *::after { box-sizing: border-box; }
  html { min-width: 20rem; }
  body { margin: 0; }
  button, input, select, textarea { font: inherit; }
  button { cursor: pointer; }
  button:disabled { cursor: not-allowed; }
  h1, h2, h3, p, dl, dd, ol, ul, pre { margin-block-start: 0; }
  img, svg { display: block; max-width: 100%; }
}
